.form-control {

}

.form-control.error input,
.form-control.error textarea
{
 border: 2px red solid;
}

.form-control.error span
{
 color: red
}
.formSummaryError {
border: red 1px solid;
 padding: 5px;
 color: red;
}